Pandas kutubxonasini ustanovka qilib olish

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('cards_data.csv')

In [4]:
df.head(10)

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,4524,825,Visa,Debit,4.344680e+15,Dec-22,623,YES,2,"$24,295",Sep-02,2008.0,No
1,2731,825,Visa,Debit,4.956970e+15,Dec-20,393,YES,2,"$21,968",Apr-14,2014.0,No
2,3701,825,Visa,Debit,4.582310e+15,Feb-24,719,YES,2,"$46,414",Jul-03,2004.0,No
3,42,825,Visa,Credit,4.879490e+15,Aug-24,693,NO,1,"$12,400",Jan-03,2012.0,No
4,4659,825,Mastercard,Debit (Prepaid),5.722870e+15,Mar-09,75,YES,1,$28,Sep-08,2009.0,No
5,4537,1746,Visa,Credit,4.404900e+15,Sep-03,736,YES,1,"$27,500",Sep-03,2012.0,No
6,1278,1746,Visa,Debit,4.001480e+15,Jul-22,972,YES,2,"$28,508",Feb-11,2011.0,No
7,3687,1746,Mastercard,Debit,5.627220e+15,Jun-22,48,YES,2,"$9,022",Jul-03,2015.0,No
8,3465,1746,Mastercard,Debit (Prepaid),5.711380e+15,Nov-20,722,YES,2,$54,Jun-10,2015.0,No
9,3754,1746,Mastercard,Debit (Prepaid),5.766120e+15,Feb-23,908,YES,1,$99,Jul-06,2012.0,No

In [5]:
df.tail(10)

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
6136,5295,1944,Mastercard,Debit,5.345230e+15,Jun-18,321,NO,2,"$19,756",Oct-14,2014.0,No
6137,1304,1944,Mastercard,Debit,5.867400e+15,Jan-22,493,NO,1,"$17,116",Feb-12,2012.0,No
6138,33,1944,Visa,Credit,4.803530e+15,Sep-21,383,YES,1,"$11,100",Jan-02,2009.0,No
6139,1059,1944,Mastercard,Debit,5.040200e+15,Nov-21,832,YES,1,"$2,468",Feb-05,2005.0,No
6140,4046,185,Mastercard,Debit,5.916550e+15,Jul-24,314,YES,1,"$16,415",Jul-16,2016.0,No
6141,5361,185,Amex,Credit,3.006100e+14,Jan-24,663,YES,1,"$6,900",Nov-00,2013.0,No
6142,2711,185,Visa,Credit,4.718520e+15,Jan-21,492,YES,2,"$5,700",Apr-12,2012.0,No
6143,1305,1007,Mastercard,Credit,5.929510e+15,Aug-20,237,NO,2,"$9,200",Feb-12,2012.0,No
6144,743,1110,Mastercard,Debit,5.589770e+15,Jan-20,630,YES,1,"$28,074",Jan-20,2020.0,No
6145,3199,1110,Visa,Credit,4.994010e+15,Dec-20,120,YES,1,"$14,400",May-17,2017.0,No

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6146 entries, 0 to 6145
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     6146 non-null   int64
 1   client_id              6146 non-null   int64
 2   card_brand             6138 non-null   object
 3   card_type              6146 non-null   object
 4   card_number            6146 non-null   float64
 5   expires                6146 non-null   object
 6   cvv                    6146 non-null   int64
 7   has_chip               6145 non-null   object
 8   num_cards_issued       6146 non-null   int64
 9   credit_limit           6141 non-null   object
 10  acct_open_date         6145 non-null   object
 11  year_pin_last_changed  6141 non-null   float64
 12  card_on_dark_web       6146 non-null   object
dtypes: float64(2), int64(4), object(7)
memory usage: 624.3+ KB

In [6]:
df['card_brand']

0             Visa
1             Visa
2             Visa
3             Visa
4       Mastercard
           ...
6141          Amex
6142          Visa
6143    Mastercard
6144    Mastercard
6145          Visa
Name: card_brand, Length: 6146, dtype: object

In [7]:
df['card_brand'].value_counts()

card_brand
Mastercard    3204
Visa          2323
Amex           402
Discover       208
\                1
Name: count, dtype: int64

In [10]:
df.isnull().sum()

id                       0
client_id                0
card_brand               8
card_type                0
card_number              0
expires                  0
cvv                      0
has_chip                 1
num_cards_issued         0
credit_limit             5
acct_open_date           1
year_pin_last_changed    5
card_on_dark_web         0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6146 entries, 0 to 6145
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     6146 non-null   int64
 1   client_id              6146 non-null   int64
 2   card_brand             6138 non-null   object
 3   card_type              6146 non-null   object
 4   card_number            6146 non-null   float64
 5   expires                6146 non-null   object
 6   cvv                    6146 non-null   int64
 7   has_chip               6145 non-null   object
 8   num_cards_issued       6146 non-null   int64
 9   credit_limit           6141 non-null   object
 10  acct_open_date         6145 non-null   object
 11  year_pin_last_changed  6141 non-null   float64
 12  card_on_dark_web       6146 non-null   object
dtypes: float64(2), int64(4), object(7)
memory usage: 624.3+ KB

has_chip ustunida 1 ta tushib qolgan bor ekan shu sababli drop qilmoqchiman

df=df.dropna(subset=has_chip)

In [12]:
df=df.dropna(subset=['has_chip'])

In [13]:
df.isnull().sum()

id                       0
client_id                0
card_brand               8
card_type                0
card_number              0
expires                  0
cvv                      0
has_chip                 0
num_cards_issued         0
credit_limit             5
acct_open_date           1
year_pin_last_changed    5
card_on_dark_web         0
dtype: int64

Ko'rganimizdek has_chip 0 ga aylandi

Endi acc_open_date ni fixed qiymat bilan toldirmqchiman

Bu uchun eng ko'p qiymat qaysi ekanligini bilib o'sha bilan to'ldirmoqcjhiman

In [14]:
df['acct_open_date'].value_counts()

acct_open_date
Feb-20    607
Jan-20    571
Feb-10     65
Sep-09     51
Sep-10     50
         ...
Sep-93      1
Aug-95      1
Nov-95      1
Sep-97      1
Jul-91      1
Name: count, Length: 303, dtype: int64

df['ustun_nomi'].value_counts() elementlar necha martadan qatnashganligini keltirib beradi

In [15]:
df['acct_open_date'].fillna('Feb-20',inplace=True)

C:\Users\akobi\AppData\Local\Temp\ipykernel_14236\3733438384.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['acct_open_date'].fillna('Feb-20',inplace=True)

In [16]:
df.isnull().sum()

id                       0
client_id                0
card_brand               8
card_type                0
card_number              0
expires                  0
cvv                      0
has_chip                 0
num_cards_issued         0
credit_limit             5
acct_open_date           0
year_pin_last_changed    5
card_on_dark_web         0
dtype: int64

Ko'rganimizdek acct_open_date 0 ga teng bo'ldi. Endi ishni davom ettiramiz.

Endigi o'zgartirmoqchi bo'lgan ustunim bu year_pin_last_changed.

Buniga mean() ni qollay olmayman chunki yillar sababligidir. Sababi float qiymat qaytarib qolishi mumkin. Bilamizki yillar float qiymatda bola olmaydi

Shu sababli median() bilan to'ldirmoqchiman

In [17]:
df['year_pin_last_changed'].fillna(df['year_pin_last_changed'].median(), inplace=True)

C:\Users\akobi\AppData\Local\Temp\ipykernel_14236\604910977.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['year_pin_last_changed'].fillna(df['year_pin_last_changed'].median(), inplace=True)

In [18]:
df.isnull().sum()

id                       0
client_id                0
card_brand               8
card_type                0
card_number              0
expires                  0
cvv                      0
has_chip                 0
num_cards_issued         0
credit_limit             5
acct_open_date           0
year_pin_last_changed    0
card_on_dark_web         0
dtype: int64

year_pin_last_changed ham 0 ga o'zgardi

Endigi navbat kredit limit va shu limitni mean bilan to'ldirmoqchiman. Yani o'rtacha qiymat bilan

Sababi depost limit float qiymat

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6145 entries, 0 to 6145
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     6145 non-null   int64
 1   client_id              6145 non-null   int64
 2   card_brand             6137 non-null   object
 3   card_type              6145 non-null   object
 4   card_number            6145 non-null   float64
 5   expires                6145 non-null   object
 6   cvv                    6145 non-null   int64
 7   has_chip               6145 non-null   object
 8   num_cards_issued       6145 non-null   int64
 9   credit_limit           6140 non-null   object
 10  acct_open_date         6145 non-null   object
 11  year_pin_last_changed  6145 non-null   float64
 12  card_on_dark_web       6145 non-null   object
dtypes: float64(2), int64(4), object(7)
memory usage: 672.1+ KB

Yo'q adashibman sababi credit limit object type ekan shu sababli buni men buni mode() bilan bajarmoqchiman

In [20]:
df['credit_limit'].fillna(df['credit_limit'].mode()[0], inplace=True)

C:\Users\akobi\AppData\Local\Temp\ipykernel_14236\2595939652.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['credit_limit'].fillna(df['credit_limit'].mode()[0], inplace=True)

In [21]:
df.isnull().sum()

id                       0
client_id                0
card_brand               8
card_type                0
card_number              0
expires                  0
cvv                      0
has_chip                 0
num_cards_issued         0
credit_limit             0
acct_open_date           0
year_pin_last_changed    0
card_on_dark_web         0
dtype: int64

Faqatgina card_brand qoldi va meni shuni ham mode orqali to'g'irlamoqchiman

In [22]:
df['card_brand'].fillna(df['card_brand'].mode()[0], inplace=True)

C:\Users\akobi\AppData\Local\Temp\ipykernel_14236\3283393129.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['card_brand'].fillna(df['card_brand'].mode()[0], inplace=True)

In [23]:
df.head(10)

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,4524,825,Visa,Debit,4.344680e+15,Dec-22,623,YES,2,"$24,295",Sep-02,2008.0,No
1,2731,825,Visa,Debit,4.956970e+15,Dec-20,393,YES,2,"$21,968",Apr-14,2014.0,No
2,3701,825,Visa,Debit,4.582310e+15,Feb-24,719,YES,2,"$46,414",Jul-03,2004.0,No
3,42,825,Visa,Credit,4.879490e+15,Aug-24,693,NO,1,"$12,400",Jan-03,2012.0,No
4,4659,825,Mastercard,Debit (Prepaid),5.722870e+15,Mar-09,75,YES,1,$28,Sep-08,2009.0,No
5,4537,1746,Visa,Credit,4.404900e+15,Sep-03,736,YES,1,"$27,500",Sep-03,2012.0,No
6,1278,1746,Visa,Debit,4.001480e+15,Jul-22,972,YES,2,"$28,508",Feb-11,2011.0,No
7,3687,1746,Mastercard,Debit,5.627220e+15,Jun-22,48,YES,2,"$9,022",Jul-03,2015.0,No
8,3465,1746,Mastercard,Debit (Prepaid),5.711380e+15,Nov-20,722,YES,2,$54,Jun-10,2015.0,No
9,3754,1746,Mastercard,Debit (Prepaid),5.766120e+15,Feb-23,908,YES,1,$99,Jul-06,2012.0,No

In [24]:
df.isnull().sum()

id                       0
client_id                0
card_brand               0
card_type                0
card_number              0
expires                  0
cvv                      0
has_chip                 0
num_cards_issued         0
credit_limit             0
acct_open_date           0
year_pin_last_changed    0
card_on_dark_web         0
dtype: int64

Hamma data miz tozalandi. Endi data preprocessing 2 bosqichi encodingni ko'rib chiqamiz

Buning uchun sklearn kutubxonasini yuklab olmoqchiman

In [25]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\akobi\appdata\local\programs\python\python313\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\akobi\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.2.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\akobi\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.15.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\akobi\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\akobi\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [24]:
df.head()

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,4524,825,Visa,Debit,4.344680e+15,Dec-22,623,YES,2,"$24,295",Sep-02,2008.0,No
1,2731,825,Visa,Debit,4.956970e+15,Dec-20,393,YES,2,"$21,968",Apr-14,2014.0,No
2,3701,825,Visa,Debit,4.582310e+15,Feb-24,719,YES,2,"$46,414",Jul-03,2004.0,No
3,42,825,Visa,Credit,4.879490e+15,Aug-24,693,NO,1,"$12,400",Jan-03,2012.0,No
4,4659,825,Mastercard,Debit (Prepaid),5.722870e+15,Mar-09,75,YES,1,$28,Sep-08,2009.0,No

In [26]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

5 xil bor ekan shu sababli buni OneHot encodingga qo'ymoqchiman

In [27]:
df.head()

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,4524,825,Visa,Debit,4.344680e+15,Dec-22,623,YES,2,"$24,295",Sep-02,2008.0,No
1,2731,825,Visa,Debit,4.956970e+15,Dec-20,393,YES,2,"$21,968",Apr-14,2014.0,No
2,3701,825,Visa,Debit,4.582310e+15,Feb-24,719,YES,2,"$46,414",Jul-03,2004.0,No
3,42,825,Visa,Credit,4.879490e+15,Aug-24,693,NO,1,"$12,400",Jan-03,2012.0,No
4,4659,825,Mastercard,Debit (Prepaid),5.722870e+15,Mar-09,75,YES,1,$28,Sep-08,2009.0,No

In [28]:
df.isnull().sum()

id                       0
client_id                0
card_brand               0
card_type                0
card_number              0
expires                  0
cvv                      0
has_chip                 0
num_cards_issued         0
credit_limit             0
acct_open_date           0
year_pin_last_changed    0
card_on_dark_web         0
dtype: int64

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     0 non-null      int64
 1   client_id              0 non-null      int64
 2   card_type              0 non-null      int64
 3   card_number            0 non-null      int64
 4   expires                0 non-null      int64
 5   cvv                    0 non-null      int64
 6   has_chip               0 non-null      int64
 7   num_cards_issued       0 non-null      int64
 8   credit_limit           0 non-null      int64
 9   acct_open_date         0 non-null      int64
 10  year_pin_last_changed  0 non-null      int64
 11  card_on_dark_web       0 non-null      int64
dtypes: int64(12)
memory usage: 0.0 bytes

In [39]:
df.head(10)

Empty DataFrame
Columns: [id, client_id, card_type, card_number, expires, cvv, has_chip, num_cards_issued, credit_limit, acct_open_date, year_pin_last_changed, card_on_dark_web]
Index: []