In [4]:
import pandas as pd

In [5]:
df=pd.read_csv('student_info.csv')

In [6]:
for col in df.columns:
    if df[col].isnull().any():
        if df[col].dtype=='object':
            df[col].fillna(df[col].mode()[0],inplace=True)
        else:
            df[col].fillna(df[col].mean(),inplace=True)

C:\Users\akobi\AppData\Local\Temp\ipykernel_10248\2187856909.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0],inplace=True)
C:\Users\akobi\AppData\Local\Temp\ipykernel_10248\2187856909.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(),inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   student_id        1000 non-null   object
 1   name              1000 non-null   object
 2   gender            1000 non-null   object
 3   age               1000 non-null   int64
 4   grade_level       1000 non-null   float64
 5   math_score        1000 non-null   int64
 6   reading_score     1000 non-null   float64
 7   writing_score     1000 non-null   float64
 8   attendance_rate   1000 non-null   float64
 9   parent_education  1000 non-null   object
 10  study_hours       1000 non-null   float64
 11  internet_access   1000 non-null   object
 12  lunch_type        1000 non-null   object
 13  extra_activities  1000 non-null   object
 14  final_result      1000 non-null   object
dtypes: float64(5), int64(2), object(8)
memory usage: 117.3+ KB

In [8]:
df.head()

,student_id,name,gender,age,grade_level,math_score,reading_score,writing_score,attendance_rate,parent_education,study_hours,internet_access,lunch_type,extra_activities,final_result
0,S1,Student_1,Other,17,10.000000,74,61.0,90.0,94.660002,Master's,4.120192,Yes,Free or reduced,Yes,Fail
1,S2,Student_2,Male,17,10.468876,99,70.0,91.0,93.173227,Bachelor's,2.886505,No,Free or reduced,No,Pass
2,S3,Student_3,Other,17,9.000000,59,60.0,99.0,98.631098,PhD,1.909926,No,Free or reduced,No,Fail
3,S4,Student_4,Other,17,12.000000,70,88.0,69.0,96.419620,PhD,1.664740,No,Standard,No,Pass
4,S5,Student_5,Male,15,9.000000,85,77.0,94.0,91.332105,PhD,2.330918,Yes,Free or reduced,No,Pass

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   student_id        1000 non-null   object
 1   name              1000 non-null   object
 2   gender            1000 non-null   object
 3   age               1000 non-null   int64
 4   grade_level       1000 non-null   float64
 5   math_score        1000 non-null   int64
 6   reading_score     1000 non-null   float64
 7   writing_score     1000 non-null   float64
 8   attendance_rate   1000 non-null   float64
 9   parent_education  1000 non-null   object
 10  study_hours       1000 non-null   float64
 11  internet_access   1000 non-null   object
 12  lunch_type        1000 non-null   object
 13  extra_activities  1000 non-null   object
 14  final_result      1000 non-null   object
dtypes: float64(5), int64(2), object(8)
memory usage: 117.3+ KB

In [10]:
df['name'].nunique()

1000

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
encoder=LabelEncoder()

In [13]:
df['name']=encoder.fit_transform(df['name'])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   student_id        1000 non-null   object
 1   name              1000 non-null   int64
 2   gender            1000 non-null   object
 3   age               1000 non-null   int64
 4   grade_level       1000 non-null   float64
 5   math_score        1000 non-null   int64
 6   reading_score     1000 non-null   float64
 7   writing_score     1000 non-null   float64
 8   attendance_rate   1000 non-null   float64
 9   parent_education  1000 non-null   object
 10  study_hours       1000 non-null   float64
 11  internet_access   1000 non-null   object
 12  lunch_type        1000 non-null   object
 13  extra_activities  1000 non-null   object
 14  final_result      1000 non-null   object
dtypes: float64(5), int64(3), object(7)
memory usage: 117.3+ KB

In [15]:
df.head()

,student_id,name,gender,age,grade_level,math_score,reading_score,writing_score,attendance_rate,parent_education,study_hours,internet_access,lunch_type,extra_activities,final_result
0,S1,0,Other,17,10.000000,74,61.0,90.0,94.660002,Master's,4.120192,Yes,Free or reduced,Yes,Fail
1,S2,112,Male,17,10.468876,99,70.0,91.0,93.173227,Bachelor's,2.886505,No,Free or reduced,No,Pass
2,S3,223,Other,17,9.000000,59,60.0,99.0,98.631098,PhD,1.909926,No,Free or reduced,No,Fail
3,S4,334,Other,17,12.000000,70,88.0,69.0,96.419620,PhD,1.664740,No,Standard,No,Pass
4,S5,445,Male,15,9.000000,85,77.0,94.0,91.332105,PhD,2.330918,Yes,Free or reduced,No,Pass

In [16]:
df['internet_access'].nunique()

2

In [17]:
df=pd.get_dummies(df,columns=['internet_access'],prefix='int', dtype=int)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   student_id        1000 non-null   object
 1   name              1000 non-null   int64
 2   gender            1000 non-null   object
 3   age               1000 non-null   int64
 4   grade_level       1000 non-null   float64
 5   math_score        1000 non-null   int64
 6   reading_score     1000 non-null   float64
 7   writing_score     1000 non-null   float64
 8   attendance_rate   1000 non-null   float64
 9   parent_education  1000 non-null   object
 10  study_hours       1000 non-null   float64
 11  lunch_type        1000 non-null   object
 12  extra_activities  1000 non-null   object
 13  final_result      1000 non-null   object
 14  int_No            1000 non-null   int64
 15  int_Yes           1000 non-null   int64
dtypes: float64(5), int64(5), object(6)
memory usage: 125.1+ KB